* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
}

#logo {
    width: 20%;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #555;
}

#navi {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#navi a {
    text-decoration: none;
    color:white;
    padding: 10px 15px;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s;
}

#navi a:hover {
    color: grey;
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 150px;

}


/*Home page css*/

#home div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content h2{
    font-size: 40px;
    font-weight: 600;
}
.text-content p {
    font-size: 30px;
    font-weight: 600;
    color: rgb(25, 199, 222);
}

#my_photo {
    flex-shrink: 0;
    width: 25%;
    height: auto;
    border: 5px solid green;
}
/* About Section Styles */
#about {
    background: #111;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

#about h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #1abc9c; /* Customize color as needed */
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
    text-align: justify;
    color: #ddd;
}

#about p::first-letter {
    font-size: 26px;
    font-weight: bold;
    color: #1abc9c; /* Customize color as needed */
}


/* Education Section Styles */
#education {
    background: #111;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#education h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #1abc9c;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.education-entry {
    margin-bottom: 30px;
}

.edu-details {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edu-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e67e22;
}

.edu-details p {
    font-size: 18px;
    color: #ddd;
    margin: 5px 0;
}

/* Skills Section Styles */
#skills {
    background: #111;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#skills h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #1abc9c;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.skills-set {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.skills-set h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e67e22;
}
.skills-set h4 {
    font-size: 20px;
    color:#fff;
    margin-bottom: 10px;
}

.skill-level {
    margin-bottom: 10px;
    display: flex;
}
.skill{
    margin:10px;
}
.skill p {
    font-size: 18px;
    color: #ddd;
    font-weight: 600;
    text-align: center;
}

.skill-level img {
    height: 100px;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.skill-level h4 {
    font-size: 20px;
    color: #1abc9c;
    margin-bottom: 5px;
}



